body { 
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: url("./imagem.jpg") center/cover no-repeat;
    margin: 0;
    
    min-height: 100dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.button1 {
    width: 100%;
    background: transparent;   
    border: 3px solid white;  
    color: white;
    font-size: 16px;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button1:hover {
    background: #00BFFF;
    color: black;
}

.h1 {
    font-size: clamp(22px, 5vw, 36px);
    margin-bottom: 20px;
}

.curiosidade {
    margin-top: 15px;
    font-size: 14px;
}

@media (max-width: 600px){
    body {
        padding: 20px;
    }

    .button1 {
        font-size: 15px;
        padding: 12px;
    }

    .curiosidade {
        font-size: 13px;
    }
}

#splash {
    position: fixed;
    inset: 0;
    background: #0f172a;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2px;

    opacity: 0;
    transform: scale(0.9);

    animation: logoIn 0.6s ease forwards;
}

@keyframes logoIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-out {
    animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
